/* 
Color palette:
#00385F Blue
#a3be57 Green
#F24405 orange
#F2F2F2 white
#870609 red
*/

/* * {
    box-sizing: border-box;
} */

body {
    background-color: #F2F2F2;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height:100svh;
}

#wow {
    background-color: cadetblue;
    font-size: 16px;
    margin: 10px;
    padding: 5px;
}

button:hover {
    background-color: lightgray;
}


/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: #a3be57;
    /* padding: 10px; */
    /* width: 100%; */
    overflow: auto;
    /* align-content: center; */

}

/* Style the navigation bar links */
.navbar a {
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    flex: 30%;
}
.navbar img {
    height: 75px;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #8aa14a;
    color: black;
    /* flex: 30%; */
    scale: 105%
}
.navbar .active {
    text-decoration: underline;
}

.navbar p {
    padding: 0;
    margin: 0;
}

.home {
    align-content: center;
}

header {
    position: sticky;
    top: 0;
}

footer {
    background-color: #00385F;
    color: lightgray;
    margin-top: auto;
    font-size: 12px;
}

.table {
    display: flex;
    flex-direction: column;
}

.table img {
    width:  100px;
    height: 100px;
    object-fit: cover;
}

.psa {
    padding: 10px;
    font-size: 10px;
    color: #870609;
}
.psa img {
    width:  100px;
    height: 125px;
    object-fit: cover;
}