/* 
Color palette:
#00385F Blue
#a3be57 Green
#F24405 orange
#F2F2F2 white
#870609 red
*/

* {
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color:#870609;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height:100svh;
}

#wow {
    background-color: cadetblue;
    font-size: 16px;
    margin: 10px;
    padding: 5px;
}

#wow img {
    height: 575px;
}

button:hover {
    background-color: lightgray;
}


/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: #a3be57;
    overflow: auto;
}

/* Style the navigation bar links */
.navbar a {
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    flex: 30%;
}
.navbar img {
    height: 75px;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #8aa14a;
    color: black;
    /* flex: 30%; */
    scale: 105%
}
.navbar .active {
    text-decoration: underline;
    font-weight: bold;
}

.navbar p {
    padding: 0;
    margin: 0;
}

.home {
    align-content: center;
}

header {
    position: sticky;
    top: 0;
}

footer {
    background-color: #00385F;
    color: lightgray;
    margin-top: auto;
    font-size: 12px;
}

.directory {
    display: flex;
    flex-direction: column;
    margin: horizontal=10%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F2F2F2;
    margin: 20px;
    
}

.directory img {
    width:  100px;
    height: 125px;
    object-fit: cover;
}


.movies {
    display: flex;
    background-color: #F2F2F2;
    flex-direction: column;
    margin: horizontal=10%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 20px;
}

.movies th, td {
    border: 1px solid #F24405;
}

.movies a {
    color: #a3be57;
    background-color: transparent;
    text-decoration: none;
}

.movies img {
    width:  100px;
    height: 125px;
    object-fit: cover;
}

.name {
    font-weight: bold;
}

.psa {
    display: flex;
    padding: 10px;
    /* font-size: 10px; */
    color: #870609;
    background-color: rgb(230, 121, 121);
    margin: 10px;
}

.psa img {
    width:  100px;
    height: 125px;
    object-fit: cover;
}

.psa h1 {
    padding: horizontal=10px;
    margin-left: 10px;
    font-size: 20px;
}

a:link {
    color: #a3be57;
    background-color: transparent;
    text-decoration: underline;
}

thead {
    font-weight: bold;
}

@media screen and (max-width: 700px) {.navbar { flex-direction: column; } }