/* 
Color palette:
#00385F Blue
#BFB304 Green
#F24405 orange
#F2F2F2 white
#870609 red


*/
body {
    background-color: #F2F2F2;
    text-align: center;
}

#wow {
    background-color: cadetblue;
    font-size: 16px;
    margin: 10px;
    padding: 5px;
}

button:hover {
    background-color: lightgray;
}

img {
    width: 400px;
    margin: 10px;
    border: 5px;
}
img:hover {
    scale: 105%;
}

/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: #BFB304;
}

/* Style the navigation bar links */
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    flex: 30%;
}

/* Change color on hover */
.navbar a:hover {
    background-color: gray;
    color: black;
}